/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */

 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

body {
    line-height: 1
}

ol,ul {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

img {
    max-width: 100%
}

*,*:before,*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.clear,.wrap,.header-wrap {
    clear: both;
    zoom:1}

.clear:before,.wrap:before,.header-wrap:before,.clear:after,.wrap:after,.header-wrap:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden
}

.clear:after,.wrap:after,.header-wrap:after {
    clear: both
}

@font-face {
    font-family: "entypo";
    font-weight: normal;
    font-style: normal;
    src: url("fonts/entypo.eot");
    src: url("fonts/entypo.eot?#iefix") format("embedded-opentype"),url("fonts/entypo.woff") format("woff"),url("fonts/entypo.ttf") format("truetype"),url("fonts/entypo.svg#entypo") format("svg")
}

@font-face {
    font-family: "CodeProRegular";
    font-weight: normal;
    font-style: normal;
    src: url("fonts/CodeProRegular.eot");
    src: url("fonts/CodeProRegular.eot?#iefix") format("embedded-opentype"),url("fonts/CodeProRegular.woff") format("woff"),url("fonts/CodeProRegular.ttf") format("truetype"),url("fonts/CodeProRegular.svg#CodeProRegular") format("svg")
}

@font-face {
    font-family: "ProximaNovaRegular";
    font-weight: normal;
    font-style: normal;
    src: url("fonts/ProximaNovaRegular.eot");
    src: url("fonts/ProximaNovaRegular.eot?#iefix") format("embedded-opentype"),url("fonts/ProximaNovaRegular.woff") format("woff"),url("fonts/ProximaNovaRegular.ttf") format("truetype"),url("fonts/ProximaNovaRegular.svg#ProximaNovaRegular") format("svg")
}

@font-face {
    font-family: "ProximaNovaBold";
    font-weight: normal;
    font-style: normal;
    src: url("fonts/ProximaNovaBold.eot");
    src: url("fonts/ProximaNovaBold.eot?#iefix") format("embedded-opentype"),url("fonts/ProximaNovaBold.woff") format("woff"),url("fonts/ProximaNovaBold.ttf") format("truetype"),url("fonts/ProximaNovaBold.svg#ProximaNovaBold") format("svg")
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

*,*:before,*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important
}

.screen-reader-text:hover,.screen-reader-text:active,.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000
}

.contrast-link {
    color: #F8F8F8
}

.header-wrap {
    z-index: 20;
    background: #62CFF0;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: rgba(0,0,0,0.1) 0 2px 1px
}

.home .header-wrap {
    background: transparent;
    position: absolute !important;
    box-shadow: none
}

body[class*='template-page-healthcare'] .header-wrap,[class*='template-page-ecommerce'] .header-wrap {
    background: transparent;
    position: absolute !important;
    box-shadow: none
}

body[class*='template-page-healthcare'] .menu,[class*='template-page-ecommerce'] .menu {
    position: absolute;
    left: -9999px
}

.site-logo {
    display: block;
    height: 30px;
    width: 200px;
    float: left
}

@media screen and (max-width: 480px) {
    .site-logo {
        margin-top:3px
    }
}

.site-logo img {
    display: block;
    width: 100%;
    height: auto
}

#mobile-menu {
    z-index: 99
}

.push {
    position: relative
}

.panel {
    position: fixed;
    right: -15.625em;
    width: 15.625em;
    background: #28282e;
    padding: 20px
}

.panel a {
    font-family: "ProximaNovaBold";
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid #FEE262;
    color: #F8F8F8;
    display: block
}

.menu-link {
    float: right;
    display: none;
    background: transparent;
    border-radius: 0;
    -webkit-appearance: none;
    outline: 0;
    color: #F8F8F8;
    border: 0
}

.menu-link:after {
    font-size: 25px;
    font-size: 1.5625rem;
    font-family: "entypo";
    content: '\2630'
}

.menu-link.active:after {
    content: '\274E'
}

@media screen and (max-width: 768px) {
    .menu-link {
        display:block
    }
}

.main-navigation {
    float: right;
    margin-top: 7px
}

@media screen and (max-width: 768px) {
    .main-navigation {
        display:none
    }
}

.main-navigation li {
    font-family: "ProximaNovaBold";
    font-size: 13px;
    font-size: 0.8125rem;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 20px
}

.main-navigation li:first-child {
    margin-left: 0
}

.main-navigation li a {
    color: #F8F8F8;
    font-weight: 600;
    font-weight: 600;
    line-height: 1.3;
    background-image: linear-gradient(to bottom, #F8F8F8 50%, #F8F8F8 50%);
    background-repeat: repeat-x;
    background-size: 1px 1px;
    background-position: 0 12px
}

.main-navigation li a:hover {
    color: #FEE262;
    background-image: linear-gradient(to bottom, #FEE262 50%, #FEE262 50%)
}

html.rebrand .panel a {
    font-family: "Montserrat",sans-serif
}

html.rebrand .main-navigation li {
    font-family: "Montserrat",sans-serif;
    font-weight: 700
}

.rebrand-footer.site-footer.wrap {
    color: #fff;
    background: #000;
    min-height: 500px;
    padding-top: 80px
}

.site-footer.wrap {
    margin-bottom: 0;
    background: #323232;
    padding-top: 40px
}

.site-footer.wrap .widget-title {
    font-family: "ProximaNovaBold";
    font-size: 15px;
    font-size: 0.9375rem;
    text-transform: uppercase;
    color: #59595e;
    margin-bottom: 40px
}

.site-footer.wrap .widget-title:before {
    display: block;
    content: '';
    border-top: 3px solid #59595e;
    width: 60px;
    margin-bottom: 20px
}

.site-footer.wrap .columns {
    margin-bottom: 80px
}

@media screen and (max-width: 768px) {
    .site-footer.wrap .columns {
        margin-bottom:0
    }
}

.site-footer.wrap .footer-widget-container {
    color: #F8F8F8
}

.site-footer.wrap .featured-post a {
    font-weight: 600;
    line-height: 1.3;
    background-image: linear-gradient(to bottom, #F8F8F8 50%, #F8F8F8 50%);
    background-repeat: repeat-x;
    background-size: 1px 1px;
    background-position: 0 29px
}

.site-footer.wrap .featured-post a:hover {
    color: #FEE262;
    background-image: linear-gradient(to bottom, #FEE262 50%, #FEE262 50%)
}

.site-footer.wrap a {
    color: #F8F8F8;
    transition: color 0.35s;
    font-weight: 600;
    line-height: 1.3;
    background-image: linear-gradient(to bottom, #F8F8F8 50%, #F8F8F8 50%);
    background-repeat: repeat-x;
    background-size: 1px 1px;
    background-position: 0 16px
}

.site-footer.wrap a:hover {
    color: #FEE262;
    background-image: linear-gradient(to bottom, #FEE262 50%, #FEE262 50%)
}

.site-footer.wrap .nice-underline {
    color: #F8F8F8;
    font-weight: 600;
    line-height: 1.3;
    background-image: linear-gradient(to bottom, #F8F8F8 50%, #F8F8F8 50%);
    background-repeat: repeat-x;
    background-size: 1px 1px;
    background-position: 0 16px
}

.site-footer.wrap .nice-underline:hover {
    color: #FEE262;
    background-image: linear-gradient(to bottom, #FEE262 50%, #FEE262 50%)
}

.site-footer.wrap a {
    color: #F8F8F8
}

.site-footer.wrap .phone:hover {
    color: #F8F8F8;
    cursor: default
}

.site-footer.wrap .author-titles a {
    background-position: 0 17px
}

.site-footer.wrap .widget_social-profiles.widget_social-profiles.widget_social-profiles a {
    background: none
}

.big-title {
    font-size: inherit;
    line-height: 1.8;
    display: inline-block
}

.big-title a {
    background: none !important;
    text-decoration: underline !important
}

.avatar {
    border-radius: 50%;
    float: left;
    margin-right: 20px
}

.author-meta {
    position: relative
}

.author-titles {
    float: left;
    color: #F8F8F8;
    text-transform: uppercase;
    margin-top: 12px;
    line-height: 1.2;
    letter-spacing: .06rem
}

.author-titles a {
    font-family: "ProximaNovaRegular";
    color: #F8F8F8
}

.author-titles .nickname {
    display: none
}

.footer-utility {
    overflow: hidden;
    width: 100%;
    border-top: 1px solid #F8F8F8
}

.footer-utility nav {
    float: left
}

.footer-utility .copyright {
    margin: 15px 25px 15px 0;
    padding: 10px;
    font-family: "ProximaNovaBold";
    font-size: 12px;
    font-size: 0.75rem;
    text-transform: uppercase;
    float: left;
    display: block;
    color: #F8F8F8;
    letter-spacing: 1px
}

.footer-utility a {
    font-family: "ProximaNovaBold";
    font-size: 12px;
    font-size: 0.75rem;
    text-transform: uppercase;
    padding: 10px;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    outline: none;
    letter-spacing: 1px
}

.footer-utility a::before,.footer-utility a::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px)
}

.footer-utility a::before {
    top: 0;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px)
}

.footer-utility a::after {
    bottom: 0;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px)
}

.footer-utility a:hover,.footer-utility a:focus {
    color: #F8F8F8 !important
}

.footer-utility a:hover::before,.footer-utility a:focus::before,.footer-utility a:hover::after,.footer-utility a:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px)
}

.footer-utility li:first-child a {
    margin-left: 0
}

.widget_social-profiles {
    margin-top: 40px
}

.widget_social-profiles a {
    font-family: "entypo";
    font-size: 17px;
    font-size: 1.0625rem;
    border-radius: 50%;
    margin-left: 5px;
    margin-bottom: 5px;
    background: #323232;
    border: 3px solid #59595e;
    color: #59595e;
    padding: 5px;
    transition: background .35s, color .35s, border .35s
}

.widget_social-profiles a:first-of-type {
    margin-left: 0
}

.widget_social-profiles a:hover {
    background: #FEE262 !important;
    color: #323232 !important;
    border: 3px solid #FEE262
}

.widget_social-profiles .widget-title {
    display: none
}

.widget_social-profiles .twitter-profile {
    padding-left: 6px
}

.widget_social-profiles .twitter-profile:before {
    content: '\F309'
}

.widget_social-profiles .facebook-profile {
    padding-left: 9px;
    padding-right: 10px
}

.widget_social-profiles .facebook-profile:before {
    content: '\F30C'
}

.widget_social-profiles .linkedin-profile {
    padding-left: 6px
}

.widget_social-profiles .linkedin-profile:before {
    content: '\F318'
}

.widget_social-profiles .googleplus-profile {
    padding-left: 6px
}

.widget_social-profiles .googleplus-profile:before {
    content: '\F30F'
}

.widget_social-profiles .instagram-profile {
    padding-left: 6px;
    padding-right: 6px
}

.widget_social-profiles .instagram-profile:before {
    content: '\F32D'
}

.widget_social-profiles .pinterest-profile {
    padding-left: 7px;
    padding-right: 7px
}

.widget_social-profiles .pinterest-profile:before {
    content: '\F312'
}

html.rebrand .rebrand-links a.footer-contact-rebrand {
    display: inline-block;
    padding-right: 4px;
    margin-right: 4px;
    border-right: 1px #F8F8F8 solid;
    border-bottom: none;
    background: none
}

html.rebrand .rebrand-links a.footer-contact-rebrand.ender {
    border-right: none;
    margin-left: -4px
}

html.rebrand .rebrand-links a.footer-contact-rebrand.ender-no-indent {
    border-right: none
}

html.rebrand .widget_social-profiles a:hover {
    background: #62CFF0 !important;
    color: #ck-offwhite !important;
    border: 3px solid #62CFF0
}

html.rebrand a.footer-contact-social {
    color: #F6595B;
    padding-right: 8px;
    border-right: 1px #F6595B solid
}

html.rebrand .service-container-container {
    overflow: hidden
}

html.rebrand .service-container-container.service-container-container a,html.rebrand .partners {
    padding-right: 8px;
    border: none;
    background: none
}

html.rebrand .partners {
    width: 75px;
    display: block;
    margin-right: 16px
}

html.rebrand .partners:hover {
    background: none
}

html.rebrand .twofer img {
    height: 107px;
    width: 115px;
    max-width: none;
    display: block
}

html.rebrand .wider {
    width: 200px
}

html.rebrand .leftie {
    height: 107px
}

html.rebrand .lefters.lefters {
    width: 110px;
    position: relative;
    top: 4.1px
}

html.rebrand .overflowing {
    overflow: hidden
}

html.rebrand .site-footer.wrap .columns {
    margin-bottom: 15px
}

html.rebrand .spanner {
    width: 175px
}

html.rebrand .spanner-one {
    margin-top: 25px
}

html.rebrand .anneal {
    height: 32px;
    width: auto;
    max-width: none
}

.site-footer.wrap .widget-footer.widget-footer {
    font-family: "Montserrat",sans-serif;
    font-weight: 700
}

.widget-footer.widget-footer.outdent {
    margin-left: 0
}

.contact-ck.wrap {
    background: #28282e;
    color: #F8F8F8;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 0
}

.contact-ck.wrap a {
    color: #F8F8F8
}

.contact-ck.wrap .column {
    float: left;
    display: block;
    margin-right: 3.28774%;
    width: 48.35613%;
    margin-bottom: 20px
}

@media screen and (max-width: 768px) {
    .contact-ck.wrap .column {
        width:100%;
        margin-right: 0;
        float: none
    }
}

.contact-ck.wrap .column.last {
    margin-right: 0
}

.contact-ck.wrap .column input {
    font-family: "ProximaNovaRegular";
    font-size: 16px;
    font-size: 1rem;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    color: #F8F8F8;
    width: 100%;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #F8F8F8;
    outline: 0;
    line-height: 1;
    margin-top: 5px;
    -webkit-appearance: none;
    transition: transform 0.35s, border-color 0.35s
}

.contact-ck.wrap .column input:focus {
    border-color: #FEE262
}

.contact-ck.wrap span.wpcf7-not-valid-tip {
    display: inline-block;
    color: #FEE262
}

.contact-ck.wrap span {
    font-style: italic
}

.contact-ck.wrap textarea {
    width: 100%;
    font-family: "ProximaNovaRegular";
    font-size: 16px;
    font-size: 1rem;
    color: #F8F8F8;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    width: 100%;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #F8F8F8;
    outline: 0;
    margin-top: 5px;
    line-height: 1;
    -webkit-appearance: none;
    height: 100px;
    transition: transform 0.35s, border-color 0.35s
}

.contact-ck.wrap textarea:focus {
    border-color: #FEE262
}

.contact-ck.wrap div.wpcf7 img.ajax-loader {
    margin: 0 auto;
    display: block;
    margin-top: 10px
}

.submit,.jump--button,#submit {
    font-family: "Montserrat",sans-serif;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 60px;
    display: block;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    outline: 0;
    -webkit-appearance: none;
    border: 1px solid #F8F8F8;
    color: #F8F8F8;
    background: transparent;
    padding: 10px 30px;
    cursor: pointer;
    letter-spacing: .07rem;
    transition: background 0.35s
}

.submit:hover,.jump--button:hover,#submit:hover {
    background: rgba(255,255,255,0.2)
}

.jump--button {
    margin: 1.5rem 0
}

.submit,.jump--button {
    font-family: "Montserrat",sans-serif
}

.contact-form-section:after {
    content: "";
    display: table;
    clear: both
}

html.rebrand .contact-ck.wrap {
    background: transparent;
    color: #fff
}

html.rebrand input {
    font-family: "Montserrat",sans-serif;
    background: #F8F8F8
}

html.rebrand textarea {
    width: 100%;
    font-family: "Montserrat",sans-serif;
    background: #F8F8F8
}

html.rebrand .section-title-contact {
    color: #FEE262
}

html.rebrand .contact-ck.wrap .column input,html.rebrand .contact-ck.wrap textarea {
    border: 1px #F8F8F8 solid;
    padding: 20px
}

html.rebrand .contact-ck.wrap .column input:focus {
    border-color: #FEE262
}

html.rebrand .submit,html.rebrand .jump--button,html.rebrand #submit {
    border: none;
    color: #323232;
    background: #FEE262
}

html.rebrand .submit:hover,html.rebrand .jump--button:hover {
    background: #f8cc02
}

.byline {
    color: #323232 !important
}

#our-services .wrap {
    margin-bottom: 0
}

.tabs {
    background: #28282e;
    color: #F8F8F8;
    padding-top: 60px;
    text-align: center
}

.tabs ul {
    display: inline-block
}

@media screen and (max-width: 768px) {
    .tabs ul {
        display:none !important
    }
}

.tabs .container {
    position: relative;
    z-index: 1
}

.tabs a {
    -webkit-transition: color 500ms,background 500ms;
    -moz-transition: color 500ms,background 500ms;
    transition: color 500ms,background 500ms;
    background: #28282e;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px
}

@media screen and (max-width: 768px) {
    .tabs a {
        display:none
    }
}

.tabs a.active {
    color: #28282e;
    background: #FEE262
}

.tab-image {
    width: 200px;
    height: 200px
}

.tab-title {
    font-size: 20px;
    font-size: 1.25rem;
    font-family: "ProximaNovaBold";
    text-transform: uppercase
}

.tab-content {
    background: #FEE262;
    padding-top: 60px;
    padding-bottom: 60px;
    min-height: 328px
}

@media screen and (max-width: 768px) {
    .tab-content {
        height:auto
    }
}

.tab-content h4 {
    font-family: "ProximaNovaRegular"
}

.tab-content .container {
    position: relative
}

.tab-content .container:after {
    content: "";
    display: table;
    clear: both
}

.tab-content .columns.twelve.tab {
    display: none;
    position: absolute
}

@media screen and (max-width: 1140px) {
    .tab-content .columns.twelve.tab {
        left:45px;
        right: 45px
    }
}

@media screen and (max-width: 768px) {
    .tab-content .columns.twelve.tab {
        position:static;
        overflow: hidden;
        display: block !important;
        text-align: center;
        margin-bottom: 60px
    }

    .tab-content .columns.twelve.tab:last-child {
        margin-bottom: 0
    }
}

.our-services {
    background: #28282e;
    color: #F8F8F8;
    padding-top: 60px;
    text-align: center
}

.heroic_grids .column {
    height: 40px;
    background: #59595e;
    margin-bottom: 20px
}

@media screen and (max-width: 480px) {
    .column {
        margin-bottom:50px
    }
}

.columns.twelve .column {
    float: left;
    display: block;
    margin-right: 3.28774%;
    width: 5.31957%
}

.columns.twelve .column:last-child {
    margin-right: 0
}

.columns.twelve .column:nth-child(12n) {
    margin-right: 0
}

.columns.twelve .column:nth-child(12n+1) {
    clear: left
}

@media screen and (max-width: 768px) {
    .columns.twelve .column {
        float:left;
        display: block;
        margin-right: 3.28774%;
        width: 13.92688%
    }

    .columns.twelve .column:last-child {
        margin-right: 0
    }

    .columns.twelve .column:nth-child(12n) {
        margin-right: 3.28774%
    }

    .columns.twelve .column:nth-child(12n+1) {
        clear: none
    }

    .columns.twelve .column:nth-child(6n) {
        margin-right: 0
    }

    .columns.twelve .column:nth-child(6n+1) {
        clear: left
    }
}

@media screen and (max-width: 480px) {
    .columns.twelve .column {
        float:left;
        display: block;
        margin-right: 3.28774%;
        width: 100%
    }

    .columns.twelve .column:last-child {
        margin-right: 0
    }
}

.columns.twelve .eight {
    float: left;
    display: block;
    margin-right: 3.28774%;
    width: 65.57075%
}

.columns.twelve .eight:last-child {
    margin-right: 0
}

@media screen and (max-width: 768px) {
    .columns.twelve .eight {
        float:left;
        display: block;
        margin-right: 3.28774%;
        width: 100%
    }

    .columns.twelve .eight:last-child {
        margin-right: 0
    }
}

.columns.twelve .seven {
    float: left;
    display: block;
    margin-right: 3.28774%;
    width: 56.96344%
}

.columns.twelve .seven:last-child {
    margin-right: 0
}

@media screen and (max-width: 768px) {
    .columns.twelve .seven {
        float:left;
        display: block;
        margin-right: 3.28774%;
        width: 100%
    }

    .columns.twelve .seven:last-child {
        margin-right: 0
    }
}

.columns.twelve .five {
    float: left;
    display: block;
    margin-right: 3.28774%;
    width: 39.74882%
}

.columns.twelve .five:last-child {
    margin-right: 0
}

@media screen and (max-width: 768px) {
    .columns.twelve .five {
        float:left;
        display: block;
        margin-right: 3.28774%;
        width: 100%
    }

    .columns.twelve .five:last-child {
        margin-right: 0
    }
}

.columns.twelve .four {
    float: left;
    display: block;
    margin-right: 3.28774%;
    width: 31.1415%
}

.columns.twelve .four:last-child {
    margin-right: 0
}

@media screen and (max-width: 768px) {
    .columns.twelve .four {
        float:left;
        display: block;
        margin-right: 3.28774%;
        width: 48.35613%
    }

    .columns.twelve .four:last-child {
        margin-right: 0
    }
}

@media screen and (max-width: 480px) {
    .columns.twelve .four {
        float:left;
        display: block;
        margin-right: 3.28774%;
        width: 100%
    }

    .columns.twelve .four:last-child {
        margin-right: 0
    }
}

.columns.six {
    float: left;
    display: block;
    margin-right: 3.28774%;
    width: 100%
}

.columns.six:last-child {
    margin-right: 0
}

.columns.six .column {
    float: left;
    display: block;
    margin-right: 3.28774%;
    width: 13.92688%
}

.columns.six .column:last-child {
    margin-right: 0
}

.columns.six .column:nth-child(6n) {
    margin-right: 0
}

.columns.six .column:nth-child(6n+1) {
    clear: left
}

@media screen and (max-width: 768px) {
    .columns.six .column {
        float:left;
        display: block;
        margin-right: 3.28774%;
        width: 31.1415%
    }

    .columns.six .column:last-child {
        margin-right: 0
    }

    .columns.six .column:nth-child(6n) {
        margin-right: 3.28774%
    }

    .columns.six .column:nth-child(6n+1) {
        clear: none
    }

    .columns.six .column:nth-child(3n) {
        margin-right: 0
    }

    .columns.six .column:nth-child(3n+1) {
        clear: left
    }
}

@media screen and (max-width: 480px) {
    .columns.six .column {
        float:left;
        display: block;
        margin-right: 3.28774%;
        width: 100%
    }

    .columns.six .column:last-child {
        margin-right: 0
    }
}

.columns.six-soup {
    float: left;
    display: block;
    margin-right: 3.28774%;
    width: 100%
}

.columns.six-soup:last-child {
    margin-right: 0
}

.columns.six-soup .column {
    float: left;
    display: block;
    margin-right: 3.28774%;
    width: 13.92688%
}

.columns.six-soup .column:last-child {
    margin-right: 0
}

.columns.six-soup .column:nth-child(6n) {
    margin-right: 0
}

.columns.six-soup .column:nth-child(6n+1) {
    clear: left
}

@media screen and (max-width: 480px) {
    .columns.six-soup .column {
        float:left;
        display: block;
        margin-right: 3.28774%;
        width: 31.1415%
    }

    .columns.six-soup .column:last-child {
        margin-right: 0
    }

    .columns.six-soup .column:nth-child(6n) {
        margin-right: 3.28774%
    }

    .columns.six-soup .column:nth-child(6n+1) {
        clear: none
    }

    .columns.six-soup .column:nth-child(3n) {
        margin-right: 0
    }

    .columns.six-soup .column:nth-child(3n+1) {
        clear: left
    }
}

.columns.four {
    float: left;
    display: block;
    margin-right: 3.28774%;
    width: 100%
}

.columns.four:last-child {
    margin-right: 0
}

.columns.four .column {
    float: left;
    display: block;
    margin-right: 3.28774%;
    width: 22.53419%
}

.columns.four .column:last-child {
    margin-right: 0
}

.columns.four .column:nth-child(4n) {
    margin-right: 0
}

.columns.four .column:nth-child(4n+1) {
    clear: left
}

@media screen and (max-width: 768px) {
    .columns.four .column {
        float:left;
        display: block;
        margin-right: 3.28774%;
        width: 48.35613%
    }

    .columns.four .column:last-child {
        margin-right: 0
    }

    .columns.four .column:nth-child(2n) {
        margin-right: 0
    }

    .columns.four .column:nth-child(2n+1) {
        clear: left
    }
}

@media screen and (max-width: 768px) and (max-width: 480px) {
    .columns.four .column {
        float:left;
        display: block;
        margin-right: 3.28774%;
        width: 100%
    }

    .columns.four .column:last-child {
        margin-right: 0
    }
}

.columns.three-row {
    float: left;
    display: block;
    margin-right: 3.28774%;
    width: 100%
}

.columns.three-row:last-child {
    margin-right: 0
}

.columns.three-row .column {
    float: left;
    display: block;
    margin-right: 3.28774%;
    width: 31.1415%
}

.columns.three-row .column:last-child {
    margin-right: 0
}

.columns.three-row .column:nth-child(3n) {
    margin-right: 0
}

.columns.three-row .column:nth-child(3n+1) {
    clear: left
}

@media screen and (max-width: 768px) {
    .columns.three-row .column {
        float:left;
        display: block;
        margin-right: 3.28774%;
        width: 100%;
        margin-bottom: 15px
    }

    .columns.three-row .column:last-child {
        margin-right: 0
    }
}

.columns.three-grid {
    float: left;
    display: block;
    margin-right: 3.28774%;
    width: 100%
}

.columns.three-grid:last-child {
    margin-right: 0
}

.columns.three-grid .column {
    float: left;
    display: block;
    margin-right: 3.28774%;
    width: 31.1415%
}

.columns.three-grid .column:last-child {
    margin-right: 0
}

.columns.three-grid .column:nth-child(3n) {
    margin-right: 0
}

.columns.three-grid .column:nth-child(3n+1) {
    clear: left
}

@media screen and (max-width: 768px) {
    .columns.three-grid .column {
        float:left;
        display: block;
        margin-right: 3.28774%;
        width: 48.35613%
    }

    .columns.three-grid .column:last-child {
        margin-right: 0
    }

    .columns.three-grid .column:nth-child(3n) {
        margin-right: 3.28774%
    }

    .columns.three-grid .column:nth-child(3n+1) {
        clear: none
    }

    .columns.three-grid .column:nth-child(2n) {
        margin-right: 0
    }

    .columns.three-grid .column:nth-child(2n+1) {
        clear: left
    }
}

@media screen and (max-width: 480px) {
    .columns.three-grid .column {
        float:left;
        display: block;
        margin-right: 3.28774%;
        width: 100%
    }

    .columns.three-grid .column:last-child {
        margin-right: 0
    }
}

.columns.two {
    float: left;
    display: block;
    margin-right: 3.28774%;
    width: 100%
}

.columns.two:last-child {
    margin-right: 0
}

.columns.two .column {
    float: left;
    display: block;
    margin-right: 3.28774%;
    width: 48.35613%
}

.columns.two .column:last-child {
    margin-right: 0
}

.columns.two .column:nth-child(2n) {
    margin-right: 0
}

.columns.two .column:nth-child(2n+1) {
    clear: left
}

@media screen and (max-width: 768px) {
    .columns.two .column {
        float:left;
        display: block;
        margin-right: 3.28774%;
        width: 100%
    }

    .columns.two .column:last-child {
        margin-right: 0
    }
}

.columns.one {
    float: left;
    display: block;
    margin-right: 3.28774%;
    width: 100%
}

.columns.one:last-child {
    margin-right: 0
}

.columns.one .column {
    float: left;
    display: block;
    margin-right: 3.28774%;
    width: 100%
}

.columns.one .column:last-child {
    margin-right: 0
}

body.single-post .wrap.hero {
    height: 585px;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    position: relative
}

.wrap.hero h1 {
    font-size: 46px;
    font-size: 2.875rem
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
    .wrap.hero {
        height:485px
    }

    .wrap.hero h1 {
        font-size: 40px;
        font-size: 2.5rem
    }
}

@media screen and (min-width: 1025px) and (max-width: 1199px) {
    .wrap.hero.wrap.hero {
        height:385px
    }

    .wrap.hero.wrap.hero .wrap.hero h1 {
        font-size: 30px;
        font-size: 1.875rem
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .wrap.hero h1 {
        font-size:24px;
        font-size: 1.5rem
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .wrap.hero {
        height:685px
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .wrap.hero {
        height:300px
    }
}

@media all and (max-width: 767px) {
    .wrap.hero {
        height:250px
    }

    .wrap.hero h1 {
        font-size: 24px;
        font-size: 1.5rem
    }
}

.hero-text {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    color: #F8F8F8;
    letter-spacing: .05rem;
    width: 100%
}

.hero-headline,.hero-subheadline {
    letter-spacing: .1rem;
    width: 63%;
    margin: 0 auto
}

@media screen and (max-width: 480px) {
    .hero-headline,.hero-subheadline {
        letter-spacing:0;
        width: 100%
    }
}

.hero-subheadline {
    margin-top: 20px;
    font-family: "ProximaNovaRegular","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif
}

.hero-subheadline-link {
    color: #fff;
    border-bottom: 1px #fff solid
}

body.page-home .header-wrap {
    display: none
}

body.page-home .main-navigation {
    display: none
}

body.single-post .wrap.hero,body.page-home.page-home .wrap.hero {
    background: transparent;
    height: 1918.0px;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    position: relative
}

body.single-post .hero-overlay,body.page-home.page-home .hero-overlay {
    background: #222 url("/media/1/ck-background.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    line-height: 0;
    opacity: 1;
    height: 545px;
}

body.single-post .hero-text2,body.page-home.page-home .hero-text2 {
    position: absolute;
    color: #F8F8F8;
    letter-spacing: .05rem;
    width: 100%
}

body.single-post .hero-text,body.page-home.page-home .hero-text {
    position: absolute;
    color: #F8F8F8;
    letter-spacing: .05rem;
    width: 100%
}

body.single-post .hero-subheadline,body.page-home.page-home .hero-subheadline {
    margin-top: 20px;
    font-family: "Montserrat",sans-serif,sans-serif
}

body.single-post .hero-subheadline-link,body.page-home.page-home .hero-subheadline-link {
    color: #fff;
    border-bottom: 1px #fff solid
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
    body.single-post .wrap.hero.wrap.hero {
        height:450px
    }

    body.page-home .wrap.hero.wrap.hero {
        height: 1680px
    }
}

@media screen and (min-width: 1025px) and (max-width: 1199px) {
    body.single-post .wrap.hero.wrap.hero {
        height:420px
    }

    body.page-home .wrap.hero.wrap.hero {
        height: 1624px
    }

    .ck-hipster-logo {
        padding: 7rem 0 12rem 0
    }
}

@media all and (max-width: 1024px) {
    body.single-post .hero-overlay,body.page-home.page-home .hero-overlay {
        background-size:cover;
        background-attachment: fixed;
        background-attachment: scroll
    }

    body.single-post.single-post .wrap.hero.wrap.hero {
        height: 420px
    }

    body.single-post .wrap.hero.wrap.hero,body.page-home .wrap.hero.wrap.hero {
        height: 1428px
    }

    body.single-post .ck-hipster-logo.ck-hipster-logo,body.page-home .ck-hipster-logo.ck-hipster-logo {
        padding: 2rem 0 2rem 0
    }

    body.single-post #colophon *,body.page-home #colophon * {
        float: none !important;
        position: static !important
    }

    body.single-post .widget-title,body.page-home .widget-title {
        margin-top: 40px
    }

    body.single-post .service-container-container a,body.page-home .service-container-container a {
        width: 50%
    }

    body.single-post .service-container-container .shim,body.page-home .service-container-container .shim {
        margin-top: 0
    }

    .rebrand-footer.site-footer.wrap {
        min-height: 1200px;
        padding-top: 0
    }

    .service-container-container img,html.rebrand .service-container-container .spanner {
        width: 175px !important;
        height: auto !important;
        margin: 0 auto 20px auto
    }

    .site-info {
        padding-top: 20px
    }

    .column-partner+.column-partner {
        margin-top: 25px
    }
}

@media all and (min-width: 767px) and (max-width: 1023px) {
    body.single-post .service-container-container a,body.page-home .service-container-container a {
        width:100%
    }

    body.single-post .service-container-container img,body.page-home .service-container-container img {
        margin: 0
    }

    body.single-post .column,body.page-home .column {
        width: 100% !important
    }
}

.ck-hipster-logo {
    padding: 10rem 0 18rem 0;
    width: 45%
}

@media all and (max-width: 500px) {
    body.single-post .wrap.hero.wrap.hero,body.page-home .wrap.hero.wrap.hero {
        height:1148px
    }
}

.wrap.customers {
    background: #F8F8F8;
    margin-bottom: 0
}

.wrap.customers ul {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px
}

.wrap.customers .column {
    list-style-type: none;
    padding-left: 2%;
    padding-right: 2%
}

@media screen and (max-width: 480px) {
    .wrap.customers .column {
        margin-bottom:0
    }
}

.tools {
    padding-top: 80px
}

.tool {
    background: #28282e;
    height: 355px;
    position: relative;
    text-align: center;
    margin-bottom: 3.28774%;
    box-shadow: inset 0 0 0 15px #28282e,inset 0 0 0 20px #ebebeb;
    transition: box-shadow 0.35s
}

.tool:hover {
    box-shadow: inset 0 0 0 15px #28282e,inset 0 0 0 20px #FEE262
}

.tool .inner {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    padding: 30px;
    color: #F8F8F8
}

.tool .inner h3 {
    font-family: "Montserrat",sans-serif;
    font-weight: 700;
    font-size: 18px;
    font-size: 1.125rem;
    text-transform: uppercase
}

.tool .inner h3:after {
    content: '';
    display: block;
    border-bottom: 3px solid #ebebeb;
    width: 70px;
    margin: 10px auto 15px auto
}

.tool .inner p {
    margin-bottom: 25px;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.2
}

.tool .inner a {
    color: #F8F8F8;
    font-weight: 600;
    line-height: 1.3;
    background-image: linear-gradient(to bottom, #F8F8F8 50%, #F8F8F8 50%);
    background-repeat: repeat-x;
    background-size: 1px 1px;
    background-position: 0 16px;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s
}

.tool .inner a:hover {
    color: #FEE262;
    background-image: linear-gradient(to bottom, #FEE262 50%, #FEE262 50%)
}

.wrap.why-ck {
    background: url("img/commerce-kitchen-dfd-no-13.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 0;
    color: #F8F8F8
}

.blurby {
    font-size: 20px;
    font-size: 1.25rem;
    width: 75%;
    margin: 0 auto;
    text-align: center
}

@media screen and (max-width: 767px) {
    .blurby {
        width:100%
    }
}

.service-container {
    margin-top: 30px
}

.service-container-image {
    display: block
}

.service-container-container a {
    display: block
}

.service-container-container .shim {
    margin-top: 60px
}

.wrap.three-column {
    background: #000;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 0;
    color: #F8F8F8
}

.blurby {
    font-size: 20px;
    font-size: 1.25rem;
    width: 75%;
    margin: 0 auto;
    text-align: center
}

@media screen and (max-width: 767px) {
    .blurby {
        width:100%
    }
}

body {
    font-family: "Montserrat",sans-serif,sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    line-height: 1.5
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat",sans-serif;
    font-weight: 700;
    line-height: 1.2
}

html.rebrand body {
    font-family: "Montserrat",sans-serif,sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    line-height: 1.5
}

html.rebrand h1,html.rebrand h2,html.rebrand h3,html.rebrand h4,html.rebrand h5,html.rebrand h6 {
    font-family: "Montserrat",sans-serif;
    font-weight: 700;
    line-height: 1.2
}

h1 {
    font-size: 50px;
    font-size: 3.125rem;
    margin-bottom: 1rem
}

@media screen and (max-width: 768px) {
    h1 {
        font-size:40px;
        font-size: 2.5rem
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size:22px;
        font-size: 1.375rem
    }
}

h2 {
    font-size: 40px;
    font-size: 2.5rem;
    margin-bottom: .9rem
}

@media screen and (max-width: 768px) {
    h2 {
        font-size:30px;
        font-size: 1.875rem
    }
}

@media screen and (max-width: 480px) {
    h2 {
        font-size:22px;
        font-size: 1.375rem
    }
}

h3 {
    font-size: 27px;
    font-size: 1.6875rem;
    margin-bottom: .7rem
}

@media screen and (max-width: 768px) {
    h3 {
        font-size:20px;
        font-size: 1.25rem
    }
}

@media screen and (max-width: 480px) {
    h3 {
        font-size:20px;
        font-size: 1.25rem
    }
}

h4 {
    font-size: 20px;
    font-size: 1.25rem;
    margin-bottom: .6rem
}

@media screen and (max-width: 768px) {
    h4 {
        font-size:17px;
        font-size: 1.0625rem
    }
}

@media screen and (max-width: 480px) {
    h4 {
        font-size:16px;
        font-size: 1rem
    }
}

h5 {
    font-size: 18px;
    font-size: 1.125rem;
    margin-bottom: .5rem
}

h6 {
    font-size: 17px;
    font-size: 1.0625rem;
    margin-bottom: .4rem
}

p {
    font-size: 16px;
    font-size: 1rem;
    margin-bottom: 1rem
}

@media screen and (max-width: 480px) {
    p {
        font-size:16px;
        font-size: 1rem
    }
}

strong {
    font-weight: bold
}

em {
    font-style: italic
}

blockquote {
    font-size: 20px;
    font-size: 1.25rem;
    font-style: italic;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    border-left: 3px solid #28282e
}

a {
    text-decoration: none;
    color: #FEE262
}

.section-title {
    margin-bottom: 30px;
    text-align: center
}

.intro-copy {
    font-size: 20px;
    font-size: 1.25rem;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 60px;
    text-align: center
}

@media screen and (max-width: 768px) {
    .intro-copy {
        width:100%;
        font-size: 16px;
        font-size: 1rem
    }
}

.intro-copy.intro-copy__multi-para {
    margin-bottom: 1rem
}

.intro-copy.intro-copy__multi-para:last-child {
    margin-bottom: 60px
}

.archive article .entry-title,.bloggin article .entry-title {
    font-size: 2rem
}

.archive article h2,.bloggin article h2 {
    font-size: 1.5rem
}

@media screen and (max-width: 767px) {
    .archive article h2,.bloggin article h2 {
        font-size:20px;
        font-size: 1.25rem
    }
}

.archive article h3,.bloggin article h3 {
    font-size: 1.2rem
}

.entry-content ul {
    margin-left: 16px;
    margin-bottom: 16px;
    margin-left: 1rem;
    margin-bottom: 1rem;
    list-style-type: disc
}

.entry-content ul li h2 {
    font-size: 1rem
}

.entry-content ol {
    margin-left: 16px;
    margin-bottom: 16px;
    margin-left: 1rem;
    margin-bottom: 1rem;
    list-style-type: decimal
}

.entry-content ol li h2 {
    font-size: 1rem
}

.entry-content h2 {
    font-size: 35px;
    font-size: 2.1875rem;
    margin-bottom: .9rem
}

@media screen and (max-width: 768px) {
    .entry-content h2 {
        font-size:25px;
        font-size: 1.5625rem
    }
}

@media screen and (max-width: 480px) {
    .entry-content h2 {
        font-size:20px;
        font-size: 1.25rem
    }
}

.no-cssgradients .main-navigation li a,.no-cssgradients .byline a,.no-cssgradients .post-categories>li,.no-cssgradients .site-footer.wrap .featured-post a,.no-cssgradients .site-footer.wrap .collective a,.no-cssgradients .site-footer.wrap .nice-underline a {
    text-decoration: underline
}

.blog-time {
    color: #28282e;
    background: transparent
}

.single-post .site-main {
    background: #F8F8F8;
    color: #28282e
}

.single-post .wrap.hero {
    height: 440px
}

.single-post .wrap.hero h1 {
    color: #F8F8F8;
    font-size: 50px;
    font-size: 3.125rem
}

.single-post .entry-meta {
    font-size: 20px;
    font-size: 1.25rem;
    color: #F8F8F8
}

@media screen and (max-width: 768px) {
    .single-post .entry-meta {
        font-size:17px;
        font-size: 1.0625rem
    }
}

@media screen and (max-width: 480px) {
    .single-post .entry-meta {
        font-size:16px;
        font-size: 1rem
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .wrap.hero.blog-hero {
        height:350px
    }

    .wrap.hero.blog-hero h1 {
        font-size: 28px;
        font-size: 1.75rem
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .wrap.hero.blog-hero {
        height:250px
    }

    .wrap.hero.blog-hero h1 {
        font-size: 25px;
        font-size: 1.5625rem
    }
}

@media all and (max-width: 767px) {
    .wrap.hero.blog-hero {
        height:200px
    }

    .wrap.hero.blog-hero h1 {
        font-size: 25px;
        font-size: 1.5625rem
    }
}

@media all and (max-width: 1024px) {
    .wrap.hero.blog-hero h1 {
        font-size:25px;
        font-size: 1.5625rem
    }
}

#submit {
    font-size: 11px;
    font-size: 0.6875rem;
    font-family: "ProximaNovaBold";
    display: inline-block;
    text-transform: uppercase;
    border: 1px solid #F8F8F8;
    color: #F8F8F8;
    background: #28282e;
    padding: 10px 30px;
    letter-spacing: .07rem;
    transition: background 0.35s
}

#submit:hover {
    color: #59595e;
    background: rgba(255,255,255,0.8);
    border: 1px solid #28282e
}

a.blog-title {
    color: #28282e
}

.blogrolling .entry-content,.blogrolling .entry-footer,.blogrolling .post-navigation,.blogrolling #comments {
    margin: 2rem auto;
    max-width: 700px
}

@media screen and (max-width: 767px) {
    .blogrolling .entry-content,.blogrolling .entry-footer,.blogrolling .post-navigation,.blogrolling #comments {
        padding:1rem
    }
}

.blogrolling .entry-content,.blogrolling .entry-footer,.blogrolling .post-navigation,.blogrolling #comments {
    margin: 1rem auto
}

@media screen and (max-width: 767px) {
    body .nav-links {
        padding:5px 0
    }

    .post-navigation {
        margin: 0 !important;
        padding: 0
    }

    .post-navigation .nav-previous,.post-navigation .nav-next {
        display: block;
        float: none;
        padding: 10px 0
    }

    .post-navigation .nav-previous a,.post-navigation .nav-next a {
        color: #28282e;
        font-weight: 600;
        line-height: 1.3;
        background-image: linear-gradient(to bottom, #28282e 50%, #28282e 50%);
        background-repeat: repeat-x;
        background-size: 1px 1px;
        background-position: 0 16px
    }

    .post-navigation .nav-previous a:hover,.post-navigation .nav-next a:hover {
        color: #FEE262;
        background-image: linear-gradient(to bottom, #FEE262 50%, #FEE262 50%)
    }

    .blogrolling .entry-content img[class*="wp-image"] {
        max-width: 100%;
        height: auto;
        float: none;
        width: 99%;
        margin: 0 auto
    }
}

.archival {
    padding: 30px
}

article:first-of-type {
    margin-top: 0
}

.blog-post,.archive .type-post {
    margin-top: 60px;
    margin-top: 3.75rem;
    background: #F8F8F8;
    color: #28282e;
    box-shadow: inset 0 0 0 10px #28282e, inset 0 0 0 15px #ebebeb;
    transition: box-shadow 0.35s;
    padding: 40px;
    padding: 2.5rem;
    overflow: hidden
}

.blog-post img.wp-post-image,.blog-post img,.archive .type-post img.wp-post-image,.archive .type-post img {
    max-width: 40%;
    height: auto;
    float: right;
    margin-left: 4%
}

.blog-post:hover,.archive .type-post:hover {
    box-shadow: inset 0 0 0 10px #f6be35,inset 0 0 0 15px #ebebeb
}

.entry-content .post-categories {
    margin: 0
}

.entry-content .byline a {
    color: #28282e;
    font-weight: 600;
    line-height: 1.3;
    background-image: linear-gradient(to bottom, #28282e 50%, #28282e 50%);
    background-repeat: repeat-x;
    background-size: 1px 1px;
    background-position: 0 16px
}

.entry-content .byline a:hover {
    color: #FEE262;
    background-image: linear-gradient(to bottom, #FEE262 50%, #FEE262 50%)
}

.bloggy {
    padding: 30px 30px 30px 7.28%;
    overflow: hidden;
    color: #28282e;
    background: white;
    overflow: hidden
}

.read-more {
    font-size: 11px;
    font-size: 0.6875rem;
    font-family: "ProximaNovaBold";
    display: inline-block;
    text-transform: uppercase;
    border: 1px solid #F8F8F8;
    color: #F8F8F8;
    background: #28282e;
    padding: 10px 30px;
    letter-spacing: .07rem;
    transition: background 0.35s
}

.read-more:hover {
    color: #59595e;
    background: rgba(255,255,255,0.8);
    border: 1px solid #28282e
}

.post-categories>li {
    display: inline-block;
    margin-right: 8px
}

.post-categories>li a {
    color: #28282e;
    font-weight: 600;
    line-height: 1.3;
    background-image: linear-gradient(to bottom, #28282e 50%, #28282e 50%);
    background-repeat: repeat-x;
    background-size: 1px 1px;
    background-position: 0 16px
}

.post-categories>li a:hover {
    color: #FEE262;
    background-image: linear-gradient(to bottom, #FEE262 50%, #FEE262 50%)
}

.entry-title a {
    color: #28282e
}

.nav-links {
    padding: 60px 0
}

.nav-next {
    float: right
}

.nav-previous {
    float: left
}

.prettyprint {
    background: #28282e;
    color: #fff;
    overflow: scroll;
    max-width: 50em
}

html.rebrand {
    font-family: "Montserrat",sans-serif;
    background: #F8F8F8
}

html.rebrand .bloggy {
    color: #323232;
    background: #F8F8F8
}

html.rebrand .sidebar,html.rebrand #page {
    color: #323232;
    background: #F8F8F8
}

html.rebrand .blog-post,html.rebrand .archive .type-post {
    background: #F8F8F8;
    color: #323232;
    border: none;
    box-shadow: none;
    transition: none;
    margin: 0 0 45px 0;
    padding: 0;
    border-bottom: none
}

html.rebrand .blog-post:hover,html.rebrand .archive .type-post:hover {
    border: none;
    box-shadow: none
}

html.rebrand .header-wrap {
    background: #F8F8F8;
    color: #323232;
    box-shadow: rgba(0,0,0,0.1) 0 2px 1px
}

html.rebrand a.blog-title {
    color: #323232
}

html.rebrand .read-more {
    font-family: "Montserrat",sans-serif;
    border: 1px solid #F6595B;
    color: #F8F8F8;
    background: #F6595B;
    letter-spacing: normal;
    transition: .2s
}

html.rebrand .read-more:hover {
    color: #F8F8F8;
    background: #dd0c0f;
    box-shadow: 2px 2px 6px rgba(221,12,15,0.3)
}

html.rebrand .post-categories>li a {
    color: #323232;
    font-family: "Montserrat",sans-serif;
    font-weight: 400;
    background: none
}

html.rebrand h1,html.rebrand h2,html.rebrand h3,html.rebrand h4,html.rebrand h5,html.rebrand h6 {
    font-family: "Montserrat",sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: #F6595B
}

html.rebrand a {
    text-decoration: none;
    color: #F6595B
}

html.rebrand .widget-title {
    color: #F6595B
}

html.rebrand .page-title {
    color: #62CFF0
}

html.rebrand .sidebar .widget_recent_entries li {
    border-bottom: 1px solid #323232;
    padding: 10px 0 10px 0
}

html.rebrand .site-logo {
    width: 225px;
    margin-bottom: 30px;
    display: block
}

html.rebrand .site-logo:after {
    content: "";
    display: table;
    clear: both
}

html.rebrand .main-navigation {
    float: right;
    width: 60%
}

html.rebrand .main-navigation a {
    font-family: "Montserrat",sans-serif;
    text-transform: uppercase;
    color: #323232
}

html.rebrand .main-navigation li a:hover {
    color: #62CFF0;
    background: none
}

html.rebrand .wrap.hero {
    background: transparent;
    height: 545px
}

html.rebrand .hero-overlay {
    background: url("/media/1/ck-background.jpg") no-repeat center center;
    background-size: cover;
    opacity: 1;
    height: 545px;
}

html.rebrand .entry-meta {
    margin-bottom: 40px
}

html.rebrand .entry-content .byline a {
    color: #F6595B;
    font-weight: 600;
    line-height: 1.3;
    background: none
}

@media (max-width: 1024px) and (min-width: 768px) {
    body.single-post .wrap.hero.blog-hero {
        height:250px
    }
}

@media (max-width: 767px) {
    body.single-post .wrap.hero.blog-hero {
        height:250px
    }
}

.page-blog .site-content,.archive .site-content {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto
}

@media (min-width: 1500px) {
    .page-blog .site-content {
        max-width:1300px
    }
}

.sidebar {
    padding: 39px
}

.sidebar .widget_recent_entries li {
    border-bottom: 1px solid #28282e;
    padding: 10px 0 10px 0
}

.sidebar .widget-container {
    max-width: 250px;
    margin-bottom: 30px
}

@media screen and (max-width: 767px) {
    .sidebar .widget-container {
        max-width:100%
    }
}

.widget-title {
    color: #FEE262
}

.sidebar li a {
    color: #28282e !important
}

body.page-template-new-page-home .panel a,body.page-template-blog-home-rebrand .panel a,body.single-rebrand .panel a {
    font-family: "Montserrat",sans-serif;
    font-weight: 300;
    border-bottom: 1px solid #F8F8F8;
    color: #F8F8F8
}

html,body {
    background: #F8F8F8
}

.wrap {
    width: 100%;
    position: relative;
    margin-bottom: 80px;
    margin-bottom: 5rem
}

.header-wrap {
    width: 100%;
    position: relative
}

.container {
    max-width: 71.25em;
    margin-left: auto;
    margin-right: auto
}

.container:after {
    content: "";
    display: table;
    clear: both
}

@media screen and (max-width: 1140px) {
    .container {
        padding-left:45px;
        padding-right: 45px
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding-left:30px;
        padding-right: 30px
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding-left:20px;
        padding-right: 20px
    }
}

::selection {
    color: #F8F8F8;
    background: #28282e
}

::-moz-selection {
    color: #F8F8F8;
    background: #28282e
}

.social {
    display: inline-block
}

.button {
    font-weight: 600;
    display: inline-block;
    background: #28282e;
    border: 2px solid #28282e;
    color: #F8F8F8;
    transition: all 0.5s ease;
    padding: 10px 27px 11px 27px
}

.button:hover {
    background: transparent;
    color: #28282e
}

.button.filled {
    border: 2px solid #F8F8F8;
    background: #F8F8F8
}

.button.filled:hover {
    color: #F8F8F8 !important;
    background: transparent
}

.button.outline {
    border: 2px solid #F8F8F8;
    background: transparent;
    color: #F8F8F8
}

.button.outline:hover {
    . background: #F8F8F8;
    color: #28282e
}

.widget-container {
    clear: both
}

.entry-content img,.comment-content img,.widget img {
    max-width: 100%
}

img[class*="align"],img[class*="wp-image-"],img[class*="attachment-"] {
    height: auto
}

img.size-full,img.size-large,img.header-image,img.wp-post-image {
    max-width: 100%;
    height: auto
}

embed,iframe,object,video {
    max-width: 100%
}

.alignleft {
    float: left
}

.alignright {
    float: right
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

img.alignleft {
    margin: 12px 24px 12px 0;
    margin: 0.857142857rem 1.714285714rem 0.857142857rem 0
}

img.alignright {
    margin: 12px 0 12px 24px;
    margin: 0.857142857rem 0 0.857142857rem 1.714285714rem
}

img.aligncenter {
    margin-top: 12px;
    margin-top: 0.857142857rem;
    margin-bottom: 12px;
    margin-bottom: 0.857142857rem
}

.wp-caption {
    max-width: 100%;
    padding: 4px
}

img.wp-smiley,.rsswidget img {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0
}

.entry-content dl.gallery-item {
    margin: 0
}

/*# sourceMappingURL=style.css.map */
