<h1>Hello Camaleon CMS</h1>

<%= link_to "Redirects", new_redirect_path %>

<% @redirects = Redirect.all %>

<% if @redirects %>
  <% @redirects.each do |r| %>
    <%= link_to r.original_url, redirect_path(r) %>
  <% end %>
<% end %>