<div class="header-wrap">
  <header id="masthead" class="site-header container" role="banner">
    <div class="site-branding">
      <a href="http://www.commercekitchen.com/" class="site-logo" rel="home">
        <!--[if lt IE 9]>
            <img src="http://www.commercekitchen.com/wp-content/themes/heroic/img/CK_LogoSalmon-horizontal-320.png" alt="Commerce Kitchen Logo">
            <![endif]-->
        <!-- Do NOT show this to IE8, DO show it to IE9 -->
        <![if gt IE 8]>
          <img src="http://www.commercekitchen.com/wp-content/themes/heroic/img/CK_LogoSalmon-horizontal.svg" alt="Commerce Kitchen Logo">
        <![endif]>
      </a>
    </div>
    <a href="#mobile-menu" class="menu-link menu-open"></a>
      <nav id="site-navigation" class="main-navigation" role="navigation">
      <div class="menu-main-container">
        <ul id="menu-main-1" class="menu">
          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-21"><a href="/blog/">Blog</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8892"><a href="http://www.commercekitchen.com/">Home</a></li>
        </ul>
      </div>
      </nav><!-- #site-navigation -->
  </header><!-- #masthead -->
</div>