<div id="content" class="site-content single-post">

  <div id="primary" class="content-area wrap">
    <main id="main" class="site-main blogrolling" role="main">

      <article class="post type-post format-standard">
        <header class="entry-header wrap hero blog-hero">
          <div class="hero-overlay"></div>
          <div class="hero-text">
            <div class="container">
              <h1 class="entry-title"><%= @post.the_title %></h1>
            </div>
          </div>
        </header>

        <div class="entry-content">
          <div class="entry-meta">
          </div>

          <div class="content-div">
            <%= raw @post.the_content %>
          </div>
        </div>

        <footer class="entry-footer">
        </footer>

      </article>

    </main>
  </div>
 </div>
